<header class="table-row">
	<form id="new-test" class="pure-form pure-form-inline variable">
		<div class="pure-u-3-4">
			<input type="text" id="test-string" placeholder="new test string">
		</div>
		<div class="pure-u-1-4">
			<button class="pure-button">Test</button>
		</div>
	</form>
	<div class="fixed">
	{{#with stats}}
		<ul class="stats unstyled">
			<li><strong>{{total}} tests</strong></li>
			{{#with status}}
			<li>{{#if success}}{{success}}{{else}}0{{/if}} positive</li>
			<li>{{#if error}}{{error}}{{else}}0{{/if}} negative</li>
			{{/with}}
		</ul>
	{{/with}}
	</div>
</header>

<ul class="tests unstyled">
	{{#each tests}}
		{{#with attributes}}
			{{> test}}
		{{/with}}
	{{/each}}
</ul>
