<header>
	<form id="new-test" class="pure-form pure-form-inline table-row">
		<div class="variable">
			<input type="text" id="test-string" placeholder="Enter a test string...">
		</div>
		<div class="fixed">
			<button class="btn">Add Test</button>
		</div>
	</form>
	{{#with stats}}
		<ul class="stats unstyled inline">
			<li><strong>{{total}} tests</strong></li>
			{{#with status}}
			<li>{{#if success}}{{success}}{{else}}0{{/if}} positive</li>
			<li>{{#if error}}{{error}}{{else}}0{{/if}} negative</li>
			{{/with}}
		</ul>
	{{/with}}
</header>

<ul id="test-list" class="tests unstyled"></ul>
